.nav {
  grid-area: nav; 
  background-color: #FFDE50;
  color: #121212;
  display: flex;
  color: white;
  overflow-x: scroll;
  padding: 10px;
  padding-left: 40px;
  justify-content: space-between;
}

.nav > h2 {
margin-left: 30px;
margin-right: 30px;
justify-content: center;
cursor: pointer;
transition: transition 50ms ease-in-out;
opacity: 0.7;
font-weight: 500;
}

.nav > h2:hover {
  transform: scale(1.2);
  opacity: 1;
}

.nav-logo {
  cursor: pointer;
  transition: transform 50ms ease-in-out;
  height: 55px;
  width: 110px;
}

.nav-logo:hover {
  transform: scale(1.2);
}

/* Hides scrollbar for Chrome,Safari, and Opera */
.nav::-webkit-scrollbar {
  display: none;
}

.shopping-cart {
  cursor: pointer; 
  transition: transform 50ms ease-in-out;
}

.shopping-cart:hover {
  transform: scale(1.2);
}

.nav > .MuiSvgIcon-root {
  height:40px;
  width: 40px;

}
