.App {
  text-align: center;
  /* background-color: #121212; */
  height: 100vh;
  color: #121212;

  font-family: var(
    --font-family,
    CircularSp,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 75px;
  grid-template-areas:
    "nav"
    "main"
    "ft";
}

/* .App * {
  border: 1px solid rgba(1, 1, 1, 0.4);
} */

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  color: #121212;
}

.main {
  grid-area: main;
  /* flex: 1; */
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  color: #121212;
}

.home {
  grid-area: main;
  /* flex: 1; */
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  color: #121212;
}

.product-cards {
  grid-area: main;
  background-color: lightgray;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: silver;
  color: #121212;
  font-size: smaller;
  width: 240px;
  margin: 10px 0 10px 0;
}

.product-image {
  width: 90%;
  margin-bottom: 10px;
}

.product-card p {
  margin: auto;
}

.footer {
  grid-area: ft;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightpink;
  color: #121212;
}
