.footer-logo {
  height: 90px;
  width: 145px;
  transition: transform 50ms ease-in-out;
  cursor: pointer;
}

.footer {
  display: flex;
  grid-area: ft;
  color: #121212;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 40px;
  height: 150px;
  background-color: #FFDE50; 
  color: white;
}

.footer > h2 {
  justify-content: center;
}

.footer-paws {
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: transform 50ms ease-in-out;
  margin-right: 25px;
}

.footer-logo:hover {
transform: scale(1.2);
}

.footer-about-copy:hover {
  transform: scale(1.2);
}

.footer-paws:hover {
  transform: scale(1.2);
}

.footer-middle {
  display: flex;
}

.footer-middle > div {
  margin: 20px;
  cursor: pointer;
}

.footer-middle > div:hover {
  transform: scale(1.5);
}